@model ObligatorioProgramacion3.Models.Sala
@{
    ViewData["Title"] = "Editar sala";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h3 class="text-center">Editar una sala</h3>
<form method="post" asp-action="Editar">
    <!--Importante para editar-->
    <input type="hidden" asp-for="Id" />

    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 mt-4">
            <div class="row">
                <div class="col-4">
                    <label asp-for="Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Asientos"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Asientos" class="form-control" />
                    <span asp-validation-for="Asientos" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3">
            <a asp-action="Index">Volver a lista</a>
        </div>
        <div class="col-5 offset-4">
            <button type="submit" class="btn btn-primary form-control">Editar</button>
            &nbsp;
        </div>
    </div>
</form>
